.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.aline{background-image:url("../img/aline.png");}
.ivia{background-image:url("../img/ivia.png");}
.rosa{background-image:url("../img/rosa.png");}
.mara{background-image:url("../img/mara.png");}
.micheline{background-image:url("../img/micheline.png");}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:76vmin;height:79vmin;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */

a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
body {font-family: 'Montserrat', sans-serif; background:url("../img/bg.png") center/110% repeat-y #00ADB5}
.inside{background:#fff; padding:30px}
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }
textarea{height:55vmin; width: 76vmin} 
.title{font-family: 'Damion', cursive; color:#fff; padding:12px 0; text-align: center}
.pop {font-family: 'Montserrat', sans-serif; background:url("../img/bg-pop.png") center/100% repeat-y #00ADB5}
@media only screen and (min-width: 500px) {
  body {
    body {font-family: 'Montserrat', sans-serif; background:url("../img/bg2.png") center/100% repeat-y #00ADB5}
  }
}